<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.WindowsGL" version="3.4.0.459" targetFramework="net4" />
  <package id="SharpDX.D3DCompiler" targetFramework="net4" />
  <package id="SharpDX.Direct2D1" targetFramework="net4" />
  <package id="SharpDX.Direct3D11" targetFramework="net4" />
  <package id="SharpDX.Direct3D11.Effects" targetFramework="net4" />
  <package id="SharpDX.Direct3D9" targetFramework="net4" />
  <package id="SharpDX" targetFramework="net4" />
  <package id="SharpDX.DXGI" targetFramework="net4" />
  <package id="SharpDX.MediaFoundation" targetFramework="net4" />
  <package id="SharpDX.RawInput" targetFramework="net4" />
  <package id="SharpDX.XAudio2" targetFramework="net4" />
  <package id="SharpDX.XInput" targetFramework="net4" />
  <package id="Ninject" targetFramework="net4" />
</packages>